{% extends "gallery/master.html" %}
{% block body %}

    <!-- data -->
    <script type="application/json" id="images_to_sort">
      {{ fn2image_json | safe }}
    </script>
    <!-- data end -->

    <!-- Page Content -->
    <div class="container">

      <form class="my-4 text-center text-lg-left" action="/image" method="post"
	    enctype="multipart/form-data" id="upload_image_form">
	Select images: <br/>
	<input id="image_upload" type="file" name="img" accept="image/*" multiple><br/>
	Show Top: <input type="text" value={{ top }} name="top" id="top">
	<input type="submit">
      </form>
      
      <div class="row" style="background-color:#007A33">
	<div class="col-lg-2" style="color:white">
      	  <a class="posi">positive</a>
	</div>
	<div class="col-lg-2" style="color:white">	
      	  <a class="negi">negative</a>
	</div>
	<div class="col-lg-2" style="color:white">		
      	  <a class="absi">abs</a>
	</div>
	<div class="col-lg-2" style="color:white">
      	  <a class="mixi">mix</a>
	</div>
	<div class="col-lg-2" style="color:white">		
      	  <a class="tracki">track</a>
	</div>
	<div class="col-lg-2" style="color:white">		
      	  <a class="explain_mode_i"></a>
	</div>	
      </div>	      
    </div>
    <!-- /.container -->

    <p id="hidden_image_mode" style="display:None">theta_only</p>
    <div id="main_boardi" class="container">
      see main.js to see the main board resort_image html
    </div>

{% endblock %}
