<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Interpretable Dimension</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/thumbnail-gallery.css" rel="stylesheet">

    <!-- my own style sheet for cropping images -->
    <link href="/static/css/main.css" rel="stylesheet">

    {% block head %}
    {% endblock %}
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Interpretable Dimension</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="class_view">
              <a class="nav-link" href="/">Class View
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item" id="image_view">
              <a class="nav-link" href="/image">Image View</a>
            </li>
           <li class="nav-item" id="concept_view">
              <a class="nav-link" href="/concepts">Concepts</a>
           </li>
           <li class="nav-item" id="model_view">
              <a class="nav-link" href="#"><del>Model</del></a>
           </li>	    
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li style="background-color:yellow">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <button type="button" id="calc_Ainv">calc Ainv</button>
    Basis Path: <input type="text" value="" name="change_basis" id="change_basis">
    <button type="button" id="change_basis">submit</button>    

    {% block body %}
    {% endblock %}
    
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Jiaxuan Wang, 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery.lazyloadxt.min.js"></script>    
    <script src="/static/js/component.js"></script>    

  </body>

</html>
